<img src="/img/home.png" alt="home-foto" />
<div class="main">
  <h2>Lo mejor y mas nuevo</h2>
  <div class="content">
    <div class="new">
      <img src="/img/foto-new-1.png" alt="foto1" />
      <div class="product-msg-info">
        <!-- Información del producto -->
        <div class="product-card__messaging accent--color">
          Materiales sostenibles
        </div>

        <div class="product-card__titles">
          <div class="product-card__title" id="NikeAcademy" role="link">
            Nike Academy
          </div>
          <div class="product-card__subtitle" role="link">
            Parte de arriba de fútbol Dri-FIT - Mujer
          </div>
        </div>
      </div>

      <div class="product-card__count-wrapper">
        <!-- Contador de opciones de color -->
        <div class="product-card__count-item">
          <button
            aria-disabled="false"
            class="product-card__colorway-btn"
            type="button"
            aria-expanded="false"
          >
            <div class="product-card__product-count">1 color</div>
          </button>
        </div>
      </div>

      <div class="product-card__animation-wrapper">
        <!-- Precio del producto -->
        <div class="product-card__price-wrapper">
          <div class="product-card__price" role="link">
            <div class="product-price__wrapper">
              <div class="product-price es__styling is--current-price">
                24,99&nbsp;€
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <img src="/img/foto-new-2.png" alt="foto-2" />
      <div class="product-msg-info">
        <!-- Información del producto -->
        <div class="product-card__messaging accent--color">
          Materiales sostenibles
        </div>

        <div class="product-card__titles">
          <div
            class="product-card__title"
            id="NikeSwooshMediumSupport"
            role="link"
          >
            Nike Swoosh Medium Support
          </div>
          <div class="product-card__subtitle" role="link">
            Sujetador deportivo con almohadilla - Mujer
          </div>
        </div>
      </div>

      <div class="product-card__count-wrapper">
        <!-- Contador de opciones de color -->
        <div class="product-card__count-item">
          <button
            aria-disabled="false"
            aria-expanded="false"
            class="product-card__colorway-btn"
            data-testid="product-card__colorway-btn"
            type="button"
          >
            <div
              class="product-card__product-count"
              aria-label="Producto disponible en 5 colores"
            >
              5 colores
            </div>
          </button>
        </div>
      </div>

      <div class="product-card__animation-wrapper">
        <!-- Precio del producto -->
        <div class="product-card__price-wrapper">
          <div
            class="product-card__price"
            data-testid="product-card__price"
            role="link"
          >
            <div class="product-price__wrapper">
              <div class="product-price es__styling is--current-price">
                42,99&nbsp;€
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <img src="/img/foto-new-3.png" alt="foto-3" />
      <div class="product-msg-info">
        <!-- Información del producto -->
        <div class="product-card__messaging accent--color">
          Materiales sostenibles
        </div>

        <div class="product-card__titles">
          <div
            class="product-card__title"
            id="Nike247PerfectStretch"
            role="link"
          >
            Nike 24.7 PerfectStretch
          </div>
          <div class="product-card__subtitle" role="link">
            Camisa Dri-FIT de manga larga oversize - Mujer
          </div>
        </div>
      </div>

      <div class="product-card__count-wrapper">
        <!-- Contador de opciones de color -->
        <div class="product-card__count-item">
          <button
            aria-disabled="false"
            class="product-card__colorway-btn"
            data-testid="product-card__colorway-btn"
            type="button"
            aria-expanded="false"
          >
            <div
              class="product-card__product-count"
              aria-label="Producto disponible en 1 color"
            >
              1 color
            </div>
          </button>
        </div>
      </div>

      <div class="product-card__animation-wrapper">
        <!-- Precio del producto -->
        <div class="product-card__price-wrapper">
          <div
            class="product-card__price"
            data-testid="product-card__price"
            role="link"
          >
            <div class="product-price__wrapper">
              <div class="product-price es__styling is--current-price">
                119,99&nbsp;€
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>Nuevas Zapas</h2>
  <div class="zapas">
    <div class="zapas1">
        <img src="/img/zapas1.png" alt="">
        <div class="details-text">
            <h4 class="product-title">
              Nike Pegasus Premium
            </h4>
            <h5 class="product-category">
              Zapatillas de running para asfalto - Hombre
            </h5>
          </div>
          
          <div class="price-info">
            <div class="price-box">
              <h3 class="product-price">
                209,99&nbsp;€
              </h3>
            </div>
          </div>          
    </div>
    <div class="zapas2">
        <img src="/img/zapas2.png" alt="">
        <div class="details-text">
            <h4 class="product-title">
              Nike Air Max Dn8
            </h4>
            <h5 class="product-category">
              Zapatillas - Hombre
            </h5>
          </div>
          
          <div class="price-info">
            <div class="price-box">
              <h3 class="product-price">
                189,99&nbsp;€
              </h3>
            </div>
          </div>          
    </div>
    <div class="zapas3">
        <img src="/img/zapas3.png" alt="">
        <div class="details-text">
            <h4 class="product-title">
              Air Jordan 5 Retro "Reimagined"
            </h4>
            <h5 class="product-category">
              Zapatillas - Hombre
            </h5>
          </div>
          
          <div class="price-info">
            <div class="price-box">
              <h3 class="product-price">
                209,99&nbsp;€
              </h3>
            </div>
          </div>          
    </div>
</div>
</div>
